<div class="container">
    <div class="text-box">
        <h1>welcome to Bookers !!</h1>
        <p>In Bookers,<br>you can share and exchange your opinions , inpressions , and emotions<br>about various books!</p>
    </div>
    
    <div class="button">
        <div class="login"><%= link_to "Log in", new_user_session_path, class: 'post' %></div>
        <div class="signup"><%= link_to "Sign up", new_user_registration_path, class: 'post' %></div>
    </div>
</div>