<div class="container">
  <div class="page-box">
    <%= render 'books/side', user:@user, book:@book %>
    <div class="main-box">
      <h2>Books</h2>
      <div class="books-box">
        <div class=books-icon>User Image</div>
        <div class=books-title>Name</div>
        <div class="books-opinion">Link</div>
      </div>
      <% @books_show.each do |book| %>
      <div class="books-box">
        <div class=books-icon>
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "noimage.jpg", :size =>'60x60', class:"icon" %>
        </div>
        <div class=books-title>
          <%= book.title %>
        </div>
        <div class="books-opinion">
          <%= link_to "Show", book_path(book.id), class:"btn" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>